.game-bg-wrapper {
  width: 100%;
  .game-bg-holder {
    background-color: #1d1d1d;
    // background-image: url("./../assets/banner-bg.png");
    width: 100%;
    position: relative;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.all-boards {
      background-image: url("./../assets/bg-mask.png");
      display: flex;
      padding: 20px 100px;
      .video-holder {
        max-width: 60%;
        width: 100%;
      }
      .side-holder {
        max-width: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 30px;
      }
      .side-text {
        max-width: 100%;
        display: flex;
        > div {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          &:last-child {
            align-items: flex-end;
          }
        }
        .lg-txt {
          color: $white;
          text-transform: uppercase;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1;
          font-family: $oswald;
        }
        .sm-txt {
          text-transform: uppercase;
          color: $white;
          font-size: 1.125rem;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
        .bottom-txt {
          margin: 30px 0 10px;
        }
        .img-div {
          margin: 50px 0 25px;
        }
        a {
          max-width: 200px;
          font-size: 1rem;
          margin-bottom: 10px;
          @include button;
        }
      }
      .side-img {
        max-width: 100%;
        display: flex;
        > div {
          width: 48%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          img {
            width: 100%;
            &:first-child {
              margin-bottom: 8%;
            }
          }
          &:first-child {
            margin-right: 4%;
          }
        }
      }
      @media screen and (max-width: 1460px) and (min-width: 1200px) {
        padding: 20px 50px;
        .side-text {
          .lg-txt {
            font-size: 2rem;
          }
          .sm-txt {
            font-size: 0.9rem;
          }
          .bottom-txt {
            margin: 50px 0 10px;
          }
          .img-div {
            margin: 30px 0 20px;
          }
        }
      }
      @media screen and (max-width: 1199px) and (min-width: 768px) {
        padding: 30px;
        flex-direction: column;
        height: auto;
        .video-holder {
          max-width: 100%;
          max-height: 500px;
          height: 450px;
        }
        .side-holder {
          max-width: 100%;
          padding: 0;
          .side-text {
            margin: 20px 0;
          }
        }
      }
      @media screen and (max-width: $break-tablet) {
        padding: 20px;
        flex-direction: column;
        height: auto;
        .video-holder {
          max-width: 100%;
          max-height: 400px;
          height: 300px;
        }
        .side-holder {
          max-width: 100%;
          padding: 0;
          .side-text {
            margin: 20px 0;
            > div {
              &:first-child {
                justify-content: space-evenly;
              }
            }
            .lg-txt {
              font-size: 2rem;
              line-height: 1.5;
            }
            .sm-txt {
              font-size: 0.75rem;
            }
            .bottom-txt {
              margin: 20px 0 10px;
            }
            .img-div {
              margin: 35px 0 15px;
            }
          }
        }
      }
      // @media screen and (max-width: 1770px) and (min-width: 1400px) {
      //   .side-img img {
      //     max-width: 230px;
      //   }
      //   .side-text {
      //     font-size: 2.5rem;
      //   }
      // }
      // @media screen and (max-width: 1399px) and (min-width: 1240px) {
      //   .side-img img {
      //     max-width: 195px;
      //   }
      //   .side-text {
      //     font-size: 1.5rem;
      //   }
      // }
      // @media screen and (max-width: 1239px) and(min-width: 768px) {
      //   flex-direction: column;
      //   .video-holder,
      //   .side-holder {
      //     max-width: 100%;
      //   }
      //   .video-holder {
      //     max-height: 600px;
      //     height: 500px;
      //   }
      //   .side-holder {
      //     .side-text {
      //       margin: 0;
      //       color: transparent;
      //       font-size: 0.3rem;
      //     }
      //     .side-img {
      //       display: none;
      //     }
      //   }
      // }
      // @media screen and (max-width: 767px) {
      //   height: 400px;
      //   padding: 10px;
      //   flex-direction: column;
      //   .video-holder,
      //   .side-holder {
      //     max-width: 100%;
      //   }
      //   .video-holder {
      //     max-height: 400px;
      //     height: 300px;
      //   }
      //   .side-holder {
      //     .side-text {
      //       margin: 0;
      //       color: transparent;
      //       font-size: 0.3rem;
      //     }
      //     .side-img {
      //       display: none;
      //     }
      //   }
      // }
    }
    &.detail-board {
      background-image: url("./../assets/detail-board.jpg");
      @media screen and (max-width: $break-tablet) {
        height: 300px;
      }
    }
    &.user-profile {
      background-image: url("./../assets/user-profile.png");
      @media screen and (max-width: $break-tablet) {
        height: 300px;
      }
    }
  }
}
.game-detail-container {
  .leader-title {
    @include largeTitle;
    font-family: $oswald;
    @media screen and (max-width: 1023px) {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.game-dropdown {
  display: inline-block;
  margin-bottom: 50px;
  .btn-primary.dropdown-toggle {
    background: $red;
    border-color: $red;
    border-radius: 0;
    &:focus,
    &:hover,
    &:active {
      box-shadow: none !important;
      background: $red;
      border-color: $red;
    }
  }
  .dropdown-menu {
    border-radius: 0 !important;
  }
}
