.game-card-wrapper {
  width: 100%;
  background: $blue;
  border-radius: 12px;
  margin: 0 0 40px;
  position: relative;
  .game-image {
    position: relative;
    > img {
      width: 100%;
    }
  }
  .player-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 50px;
  }
  .player-column:nth-child(odd) {
    background-color: $lightGray;
  }
  .player-column:nth-child(even) {
    background-color: $black;
    color: $white;
  }
  .game-title {
    height: 55px;
    background: $red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $white;
    &.player-column-on-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      position: relative;
      .game-img-data {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: -50px;
        left: 0;
        .txt-child {
          color: $white;
          font-weight: $bold;
          font-size: 20px;
          margin-bottom: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: inherit;
          text-align: center;
        }
      }
    }
  }
  .game-card-footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .game-see-more {
      @include button;
    }
    &.footer-on-detail {
      position: absolute;
      width: 100%;
      margin: 0 auto;
    }
  }
  &.wrapper-on-detail {
    padding: 0 0 10px;
    // margin-bottom: 100px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.card-on-detail {
  border: 1px solid $lightGray;
  padding: 20px 10px;
  color: $white;
  margin-bottom: 80px;
  .cod-title {
    text-transform: uppercase;
    font-weight: $semibold;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    background-color: $altGray;
    @include textOverflow;
    padding: 15px;
  }
  .p-row,
  .cod-tb-title {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    .index {
      max-width: 15%;
      min-width: 70px;
      width: 100%;
    }
    .name {
      max-width: 55%;
      min-width: 200px;
      text-align: left;
      width: 100%;
      span {
        display: inline-block;
        @include textOverflow;
      }
     
    }
    .points {
      max-width: 30%;
      min-width: 100px;
      width: 100%;
      span {
        display: inline-block;
       @include textOverflow;
      }
    }
    @media screen and (max-width: 1200px) and (min-width: 1025px){
      .name {
      min-width: 160px;
      }
      .points {
        min-width: 90px;
      }
    }
    @media screen and (max-width: 1023px) and (min-width: 768px){
      .name {
      min-width: 140px;
      }
      .points {
        min-width: 80px;
      }
    }
    @media screen and (max-width: $break-tablet){
      .name {
      min-width: 120px;
      }
      .points {
        min-width: 70px;
      }
    }
  }
  .cod-tb-title {
    background-color: $darkGray;
  }
  .p-row {
    &:nth-child(odd) {
      background-color: $altGray;
    }
    &:nth-child(even) {
      background-color: $darkGray;
    }
    &:last-child{
      margin-bottom: 25px;
    }
    &:hover{
      color: $red;
    }
    &.red{
      color: $red;
    }
  }
  .card-foot {
    position: absolute;
    bottom: 55px;
    width: 70%;
    left: 0;
    padding: 0 20px;
    text-align: center;
    background: $darkGray;
    margin-left: 15%;

    a {
      display: inline-block;
      width: auto;
      padding: 10px;
      color: $white;
      @include link;
    }
  }
}
