.header-wrapper {
  width: 100%;
}

// .content-body-wrapper {
//   padding-top: 137px;
//   @media screen and (max-width: $break-tablet) {
//     padding-top: 175px;
//   }
// }

.header-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
  .header-logo {
    max-width: 95px;
    max-height: 95px;
    width: 100%;
    .logo-block {
      width: 100%;
      display: block;
    }
    .logo {
      width: 100%;
    }
    .sticky-logo {
      display: none;
    }
  }
  .header-cta {
    display: flex;
    padding-right: 20px;
    .user-name {
      position: relative;
      color: $white;
      padding: 0 15px;
      margin: 0;
      cursor: pointer;
      text-transform: capitalize;
      span {
        padding-left: 5px;
      }
      @media screen and (max-width: $break-tablet) {
        margin-top: 10px;
      }
    }
    .user-popup {
      position: absolute;
      max-width: 150px;
      width: 150%;
      background: $white;
      padding: 30px;
      top: 50px;
      right: 20px;
      color: $black;
      border-radius: 4px;
      .close {
        color: $black;
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 15px;
      }
      .user-link {
        color: $black;
        line-height: 2;
        cursor: pointer;
      }
    }
  }
  .header-link {
    @include button;
    @include link;
    margin-right: 0;
    &.login {
      background-color: $blue;
    }
    &.no-bd {
      color: $white;
      border-color: transparent;
      background-color: transparent;
      &.nav-link {
        color: $white;
        @include link;
      }
    }
    &-button {
      @include secondaryBtn;
      &.nav-link {
        color: $white;
        &:hover,
        &:active {
          color: $white;
        }
      }
    }
  }
  .no-content {
    // width: 200px;
  }
  @media screen and (max-width: 992px) {
    .header-link {
      max-width: 150px;
      justify-content: flex-start;
      &-button {
        justify-content: center;
      }
    }
  }
}

header {
  // position: fixed;
  z-index: 99;
  width: 100%;
  background-color: $darkGray;
  padding: 10px 0;
  transition: all 0.3s;
  background-image: radial-gradient(#525151 -42%, #161616 130%);
  // background: transparent
  //   radial-gradient(closest-side at 50% 50%, #525151 0%, #161616 100%) 0% 0%
    // no-repeat padding-box;
  border-bottom: 1px solid $darkGray;
  &.smaller {
    height: 70px;
    padding-top: 10px;
    .header-logo {
      max-width: 250px;
    }
    .sticky-logo {
      display: block !important;
      width: 100%;
      margin-top: 5px;
    }
    .logo {
      display: none;
    }

    @media screen and (max-width: $break-tablet) {
      height: 115px;
      .header-link {
        margin-top: 20px !important;
        max-height: 35px;
        line-height: 35px;
        font-size: 14px;
      }
    }
  }
  // &.logged-in {
  //   ~ .content-body-wrapper {
  //     @media screen and (max-width: $break-tablet) {
  //       padding-top: 144px !important;
  //     }
  //   }
  // }
  .no-content {
    width: 400px;
  }
  .bg-dark {
    padding: 1rem 3rem;
    background-color: transparent !important;
    @media screen and (max-width: 992px) {
      flex-direction: row-reverse;
      padding: 1rem;
    }
    .head-nav.navbar-collapse {
      .navbar-nav {
        width: 45%;
        &.visible-dp {
          width: 10%;
        }
        &.custom-nav{
          justify-content: space-between;
        }
        div{
          display: flex;
          justify-content: center;
          width: 80%;
          // margin-right: 200px;
        }
      }
    }
  }
  .navbar-dark .navbar-toggler {
    border-color: transparent;
  }
}

.bread-crumb {
  position: absolute;
  background-color: $red;
  bottom: -50px;
  width: 100%;
  height: 50px;
  z-index: 100;
  color: $white;
  font-weight: $bold;
  padding: 0 50px;
  @media screen and (max-width: $break-tablet) {
    padding: 0 30px;
  }
  .link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    .bread-crumb-link {
      cursor: pointer;
      color: $white;
      text-decoration: none;
      &::after {
        content: "/";
        margin: 0 8px;
      }
      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    .navbar-expand-lg .navbar-collapse {
      width: 100%;
      .navbar-nav {
        // width:;
        div{
          flex-direction: column;
          justify-content: flex-start;
          // margin-right: 200px;
        }
      }
    }
  }
}
