.home-wrapper {
  background-color: $darkGray;
  padding: 40px 0 60px;
}
.home-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto -16px;
  .home-leaderboard-wrapper,
  .home-our-games-wrapper {
    @include centerFlex;
    flex-direction: column;
  }
  .home-heading-bg {
    margin-bottom: 30px;
  }
  .home-btn-wrapper {
    max-width: 350px;
    width: 100%;
    @media screen and (max-width: 767px) {
      max-width: 270px;
    }
  }
}

.home-leaderboard-cta-wrapper {
  margin: 0 0 60px;
  .home-leaderboard-cta {
    @include button;
    width: 250px;
  }
}

.og-game-card-wrapper {
  width: 100%;
  background-color: $blue;
  border-radius: 12px;
  .game-image {
    border-radius: 12px 12px 0 0;
    background: transparent;
    img {
      width: 100%;
      border-radius: 12px 12px 0 0;
    }
  }
  .game-content {
    color: $white;
    padding: 0px 30px 20px;
    @include centerFlex;
    flex-direction: column;
    .title {
      font-weight: $bold;
      font-size: 32px;
      line-height: 68px;
      text-align: center;
    }
    .desc {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
      min-height: 150px;
    }
    .cta {
      @include button;
      width: 300px;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    .cta {
      width: 150px !important;
    }
    .desc{
      min-height: auto;
    }
  }
}
