@mixin button {
  min-width: 100px;
  background: $red;
  height: 48px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $blue;
    text-decoration: none;
  }
  &:active,
  &:focus {
    background-color: $buttonActive;
    outline: none;
  }
}

@mixin secondaryBtn {
  background-color: transparent;
  border: 1px solid $white;
  min-width: 100px;
  height: 48px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $white;
  text-decoration-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $red;
    border-color: $red;
    text-decoration-color: transparent;
  }
  &:active,
  &:focus {
    background-color: $buttonActive;
    border-color: $buttonActive;
    outline: none;
    text-decoration-color: transparent;
  }
}

@mixin centerFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin largeTitle {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: $semibold;
  margin: 2rem 0;
  text-transform: uppercase;
  color: $white;
}

@mixin textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
}

@mixin link {
  color: $white;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.3s ease;
  &:hover {
    color: $red;
    text-decoration: underline;
    text-decoration-color: $red;
  }
  &:active,
  &:focus {
    color: $linkActive;
    text-decoration: underline;
    text-decoration-color: $linkActive;
  }
}
