
$oswald: 'Oswald', sans-serif;





//fonts
$avenir: "Avenir-Light", sans-serif;
$bebasNeue: "Bebas Neue", cursive;

//font weights
$bold: 700;
$semibold: 600;
$medium: 500;
$light: 400;
$semilight: 300;


//colors
$red : #C3100E;
$blue: #003090;
$black: #000000;
$white: #ffffff;
$darkGray: #161616;
$lightGray: #BBBBBB;
$altGray: #1d1d1d;

//link states
$linkActive: #FE6e6e;

$label: #A2A2A2;



$buttonActive: #800C0B;


//responsive width
$break-tablet: 767px;
