// Brigada Framework  »  SASS Mixins
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

@mixin animation($animation: keyframes, $duration: 1s, $repeat: infinite) {
	-webkit-animation-name: $animation;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: $repeat;
	-webkit-animation-fill-mode: forwards;

	animation-name: $animation;
	animation-duration: $duration;
	animation-iteration-count: $repeat;
	animation-fill-mode: forwards;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin transition($what: all, $length: 600ms, $easing: ease-in-out, $delay: 0ms) {
	-webkit-transition: $what $length $easing $delay; /* webkit mobile */
	transition: $what $length $easing $delay;
}

@mixin transform($params) {
	-webkit-transform: $params;
	transform: $params;
}

@mixin origin($params) {
	-webkit-transform-origin: $params;
	transform-origin: $params;
}

@mixin gradient($topColour: #fff, $bottomColour: #ccc) {
	background: mix($topColour, $bottomColour, 50%); /* for older browsers, 50% point colour */
	background: -webkit-linear-gradient(top, $topColour 0%, $bottomColour 100%);
	background: linear-gradient(to bottom, $topColour 0%, $bottomColour 100%);
}

@mixin placeholder($color, $style: italic) {
	&::-webkit-input-placeholder {
		font-style: $style;
		opacity: 1;
		color: $color;
	}
	&::-moz-placeholder {
		font-style: $style;
		opacity: 1;
		color: $color;
	}
	&:-ms-input-placeholder {
		font-style: $style;
		opacity: 1;
		color: $color;
	}
}

@mixin fontsize($defaultSize: 16px, $minSize: false) {
	// Minimise size auto calculate
	@if ($minSize == false) {
		$minSize: $defaultSize;
		@if ($fontSizeBase < $defaultSize) {
			$minSize: $fontSizeBase + (($defaultSize - $fontSizeBase) / 2);
		}
	}

	// Unit-less values
	$defaultUnitless: $defaultSize / ($defaultSize * 0 + 1);
	$minUnitless: $minSize / ($minSize * 0 + 1);
	$designWidth: $spacingDesignWidth / ($spacingDesignWidth * 0 + 1);
	$maxWidth: $spacingContentWide / ($spacingContentWide * 0 + 1);

	// Range and scaling
	$range: $defaultUnitless - $minUnitless;
	$scaleFactor: $range / $designWidth;

	// Set maximum size
	font-size: $defaultSize;

	// Set variable size
	@media (min-width: 320px) and (max-width: $spacingDesignWidth) {
		font-size: calc((100vw - 320px) * #{$scaleFactor * 1} - #{$minSize * -1});
	}

	// Set minimum size
	@media (max-width: 320px) {
		font-size: $minSize;
	}
}

@mixin spacing($properties, $value) {
	$designWidth: $spacingDesignWidth / ($spacingDesignWidth * 0 + 1);
	$value: $value / ($value * 0 + 1);
	$maxWidth: $spacingContentWide / ($spacingContentWide * 0 + 1);
	$scaleFactor: $maxWidth / $designWidth;

	@each $prop in $properties {
		#{$prop}: #{$value * $scaleFactor}px;
	}

	@media (max-width: $breakpointXS) {
		@each $prop in $properties {
			#{$prop}: $value * $scaleFactor * $breakpointXS / $spacingContentWide * 1px;
		}
	}

	@media (max-width: $breakpointXXS) {
		@each $prop in $properties {
			#{$prop}: $value * $scaleFactor * $breakpointXXS / $spacingContentWide * 1px;
		}
	}

	@media (min-width: $breakpointXS + 1) and (max-width: $spacingContentWide) {
		@each $prop in $properties {
			#{$prop}: calc((100vw - 320px) * (#{$value  *  $scaleFactor} / #{$maxWidth}));
		}
	}
}


@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin video-autofit() {
	position: absolute;
	left: 50%;
	top: 50%;
	box-sizing: border-box;
	height: 56.25vw;
	min-height: 100%;
	min-width: 100%;
	transform: translate(-50%, -50%);
	width: 177.77777778vh;
}

@mixin wp-caption() {
	max-width: 100%;
	box-sizing: border-box;
	color: $colorDarkGrey500;
	font-size: $fontSize0;
	text-align: center;
}

@mixin momentum-scroll($direction: vertical) {
	@if ($direction == vertical) {
		overflow-y: scroll; // has to be scroll, not auto
		-webkit-overflow-scrolling: touch;
	} @else {
		overflow-x: scroll; // has to be scroll, not auto
		-webkit-overflow-scrolling: touch;
	}
}