/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Feedback Box  */

.component-feedback-box {
	.component-inner {
		padding-bottom: $spacingXXL * 2;
		text-align: center;

		form {
			@include component-narrow;
		}
	}

	h4 {
		font-family: $fontFamilySecondary;
		font-weight: 300; /* light */
		@include fontsize(40px, 20px);
		text-transform: uppercase;
		color: $colorWhite;

		.white-bg & {
			color: $colorBlack;
		}
	}

	form {
		max-width: $spacingContentNarrow;

		.combined-input-button {
			display: flex;
			flex-wrap: nowrap;
			justify-content: stretch;
			align-items: stretch;
			margin-top: $spacingL;

			input {
				width: calc(100% - 102px);
				height: 50px;
				box-sizing: border-box;
				padding-left: $spacingS;
				border: 1px solid $colorWhite;
				margin: 0;

				@include placeholder($colorVeryLightGrey, normal);

				.white-bg & {
					color: $colorBlack;
					border: 1px solid $colorCharcoal;
					@include placeholder($colorGrey, normal);
				}
			}

			button {
				display: inline-block;
				width: 100px;
				font-size: 21px;
				font-family: $fontFamilyPrimary;
				font-weight: 400; /* regular */
				line-height: 1;
				padding: 0.4em 10px;
				box-sizing: border-box;
				border: 0;
				text-transform: uppercase;
				background: $colorWhite;
				color: $colorBlack;
				cursor: pointer;

				@media (hover: hover) {
					&:hover {
						color: $colorBlue;
					}
				}

				&:active {
					color: $colorDarkRed;
				}

				.white-bg & {
					background: $colorCharcoal;
					color: $colorWhite;
					cursor: pointer;

					@media (hover: hover) {
						&:hover {
							background: $colorBlue;
						}
					}

					&:active {
						background: $colorDarkRed;
					}
				}
			}
		}
	}
}

/*  end:  Component  »  Feedback Box  */