/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Masthead  */

.component-masthead {
	scroll-snap-align: start;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	text-align: center;

	.component-inner {
		min-height: 20vw;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-family: $fontFamilySecondary;
		@include fontsize(200px, 50px);
		font-weight: 600; /* semibold */
		color: $colorOffWhite;
		text-transform: uppercase;
		margin-top: $spacingXXL;
		margin-bottom: $spacingXXL;
	}

	p {
		margin-top: #{($spacingXXL - $spacingL) * -1};
		margin-bottom: $spacingXXL;
		font-family: $fontFamilySecondary;
		@include fontsize(75px, 24px);
		font-weight: 300; /* light */
		color: $colorWhite;
		text-transform: uppercase;

		b {
			font-weight: 700; /* bold */
		}
	}
}

/*  end:  Component  »  Masthead  */