// Site  »  Hamburger Menu Style Definitions
//
// @author           https://github.com/jonsuh/hamburgers

.header-nav-toggle {
	padding: 18px 10px 12px 10px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.header-nav-toggle .toggle-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.header-nav-toggle .toggle-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}

.header-nav-toggle .toggle-inner, .header-nav-toggle .toggle-inner::before, .header-nav-toggle .toggle-inner::after {
	width: 40px;
	height: 4px;
	background-color: inherit;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.header-nav-toggle .toggle-inner::before, .header-nav-toggle .toggle-inner::after {
	content: "";
	display: block;
}

.header-nav-toggle .toggle-inner::before {
	top: -10px;
}

.header-nav-toggle .toggle-inner::after {
	bottom: -10px;
}

.header-nav-toggle .toggle-inner {
	transition-duration: 0.075s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header-nav-toggle .toggle-inner::before {
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.header-nav-toggle .toggle-inner::after {
	transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header-nav-active .header-nav-toggle .toggle-inner {
	transform: rotate(45deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-nav-active .header-nav-toggle .toggle-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.header-nav-active .header-nav-toggle .toggle-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
